<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
    <!-- bootstrap links -->
    <link rel="stylesheet" href="../node_modules/bootstrap/dist/css/bootstrap.css">
	<script src="../node_modules/bootstrap/dist/js/bootstrap.js"></script>
	<script src="../bootstrap/js/bootstrap.bundle.js"></script>
	<script src="../bootstrap/js/jquery.js"></script>
   <!-- bootstrap links ends here -->
</head>
<body style="background-color: aqua;">
    <input type="text" placeholder="Search GetPost" name="search" id="search">
    <p id="demo" class="jumbotron"><%= name %></p>
    <div class="jumbotron">
        hello mowq
    </div>
    <script>
            $("#demo").click(function(){
                $(this).hide();
            });
    </script>
</body>
</html>