<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>
<body style="background-color:blue;">
    <p id="status"></p>
    <p id="ajax"></p>
    <p id="roll"></p>
    <button onclick="func()">click Here</button>
    <script>
        function func(){
            var xhttp =  new XMLHttpRequest();
        xhttp.open("post","/ajax/testing/");
        xhttp.send();
        xhttp.onload = function(){
            console.log(`${this.status} status text is: ${this.statusText}`);
            document.getElementById("status").innerHTML = `${this.status} status text is: ${this.statusText}`;
            document.getElementById("ajax").innerHTML = xhttp.responseText;
            var responseData = JSON.parse(xhttp.responseText);
            console.log(xhttp.responseText[0].studentid);
            document.getElementById("roll").innerHTML = responseData[0].studentid;
        }
        xhttp.onerror  = function(){
            document.getElementById("status").innerHTML = "network error";
        }
        }
    </script>
</body>
</html>